<div class="main-container">
  <div class="row" *ngIf="customer$ | async as customer">
    <div class="col-md-2">
      <img src="assets/images/{{customer.gender | lowercase}}.png" class="details-image img-thumbnail"/>
    </div>
    <div class="col-md-4">
      <h4>
        {{ customer.firstName }} {{ customer.lastName | uppercase }}&nbsp;
      </h4>
      {{ customer.address }}
      <br/>
      {{ customer.city }}, {{ customer.state.name }}
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ng-cm-customer-google-maps [latitude]="customer.latitude"
                           [longitude]="customer.longitude"
                           [zoom]="10"
                           [enabled]="mapEnabled"
                           [markerText]="'<h3>' + customer.firstName + ' ' + customer.lastName + '</h3>' + customer.city + ', ' + customer.state.name">
        </ng-cm-customer-google-maps>
      </div>
    </div>
  </div>
  <div *ngIf="!(customer$ | async)" class="container">
    No customer found
  </div>
