.btn {
  margin: .375rem !important;
  color: inherit !important;
  text-transform: uppercase !important;
  word-wrap: break-word !important;
  white-space: normal !important;
  cursor: pointer !important;
  border: 0 !important;
  border-radius: .125rem !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out !important;
  padding: 0.70rem 2.14rem 0.64rem 2.14rem !important;
  line-height: 2px !important;
  font-size: .81rem !important;

  &:hover {
    outline: 0 !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.waves-effect {
  position: relative !important;
  overflow: hidden !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.btn-success {
  color: #fff !important;
  background-color: #00c851 !important;

  &:hover {
    color: #fff !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
  }
}

.btn-info {
  color: #fff !important;
  background-color: #33b5e5 !important;

  &:hover {
    color: #fff !important;
    background-color: #138496 !important;
    border-color: #117a8b !important;
  }
}

.btn-unique {
  color: #fff !important;
  background-color: #880e4f !important;

  &:hover {
    color: #fff !important;
    background-color: #9f105c !important;
  }
}

.btn-outline-border {
  border: 1px solid #eee !important;
  box-shadow: none !important;
  font-size: 12px !important;
  margin-bottom: -10px !important;
  line-height: 0 !important;
  padding: 13px !important;
  margin-right: -5px !important;
}
