.nav.nav-pills {
  margin-bottom: 25px;
}

.nav-pills .nav-link.nav-link-bordered.active, .nav-pills .show>.nav-link.nav-link-bordered {
  display: inline-block !important;
  padding: 2px 14px 2px 6px !important;
  background-color: #c5cae952;
  border: 1px solid #c5cae9;
  border-radius: 15px;
  color: #37474F;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

a.nav-link.nav-link-bordered {
  display: inline-block !important;
  padding: 2px 14px 2px 6px !important;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  color: #757575;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
