.nav-pills .nav-link.nav-link-bordered.active, .nav-pills .show>.nav-link.nav-link-bordered {
  display: inline-block !important;
  padding: 2px 14px 4px 6px !important;
  background-color: #eeeeee66;
  border: 1px solid #dddddd;
  border-radius: 15px;
  color: chocolate;
  margin-right: 10px;
}

a.nav-link.nav-link-bordered {
  display: inline-block !important;
  padding: 2px 14px 4px 6px !important;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  color: chocolate;
  margin-right: 10px;
}
