@import './assets/buttons';
@import './assets/tables';
@import './assets/navs';

body{
  font-family: 'Roboto', 'Noto', sans-serif;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(#607d8b, .4);
}
