@import '~ngx-toastr/toastr';
@import './assets/buttons';
@import './assets/navs';
@import './assets/toastr';
@import './assets/tables';
@import './assets/cards';
@import './assets/pagination';
@import './assets/input';

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

*:focus {
  outline: none !important;
}

/*** Custom Scroll ***/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(#607d8b, .4);
}
