<div class="card">
  <div class="card-body" *ngIf="currentForm == 'existed-customer';else new_customer">
    <h5 class="card-title">Customer Informations</h5>
    <ul class="nav nav-pills card-header-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link nav-link-bordered" routerLink="details" routerLinkActive="active">
          <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Customer Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-bordered" routerLink="orders" routerLinkActive="active">
          <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Customer Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-bordered" routerLink="edit" routerLinkActive="active">
          <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Edit Customer
        </a>
      </li>
    </ul>
    <div class="content-router">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-template #new_customer>
    <div class="card-body">
      <h5 class="card-title">New Customer</h5>
      <div class="content-router">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-template>
</div>
